/* PARTIE DESKTOP */

/*Paramètres généraux*/
body {
    font-family: arial, serif, sans-serif;
    margin: auto;
    min-width: 100%;

}

/*Header*/
header {
    display: flex;
}

/*Titres*/
h1 {
    font-weight: lighter;
    padding-top: 30%;
    padding-left: 40%;
    min-width: 100%;
    font-size: 40px;
}

    /*span*/
    .color {
        color: #607D8B;
    }

    .border {
        border-bottom: 2px solid #607D8B;
    }

    .etudiante {
        font-size: 20px;
    }

/*Photo*/
.photo {
    background-color: #607D8B;
    width: 35%;
    padding: 5% 0 5% 0;
}

.photomathilde {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2.5px solid #455A64;
    overflow: hidden;
    margin: auto;
}

.taille_photo {
    width: 205px;
}

/*Navbar*/
nav {
    display: none;
}

/*Contenu*/
.contenu {
    display: flex;
}

    /*Aside*/
    aside {
        background-color: #607D8B;
        max-width: 34.95%;
    }

    aside h2 {
        text-align: center;
        background-color: #EEEEEE;
        color: #607D8B;
        font-size: 20px;
        font-weight: lighter;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    aside address {
        font-style: normal;
        padding: 10% 15% 15% 15%;
        line-height: 1.2;
        color: #EEEEEE;
    }

    address a {
        text-decoration: none;
        color: #E0E0E0;
    }

    .informations > p {
        padding: 10% 15% 80% 15%;
        line-height: 1.5;
        text-align: justify;
        color: #EEEEEE;
    }
    
    .icones {
        display: flex;
        flex-direction: row;
        padding: 11%;
    }
    
    .icone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;
        margin: auto;
    }
    

    /*Main*/
    main {
        padding-left: 2%;
        width: 100%;
        border-left: 1px solid #607D8B;
    }
        /*Titres*/
        main h2 {
            font-size: 20px;
            font-weight: lighter;
            padding-left: 4%;
            padding-bottom: 2%;
            border-bottom: 2px solid #607D8B;
            width: 80%;
            margin: auto;
            padding-top: 5%;
        }

        main h3, main h4 {
            font-size: 15px;
            font-weight: lighter;
        }

        h2 > i {
            color: #455A64;
            padding-right: 3%;
        }

        /*Formation et expérience professionnelle*/
        .mise_en_page {
            display: flex;
            padding-left: 10%;
        }

        .puce {
            margin: 4% 2% 0 5%;
            margin-top: 2.9%;
        }

        .puce i {
            color: #607D8B;
        }
        
        .annee {
            margin: 1% 0 0 1%;
        }
        
        .etablissement {
            padding-top: 1.5%;
            padding-left: 5%;
            width: 300px;
        }
        
        .taches {
            font-size: 92%;
            line-height: 1.5;
        }

        .taches ul {
            list-style: none;
            padding-left: 0%;
        }

        .contenu ul {
            width: 450px;
        }

        /*Recommandations*/
        .recommandation {
            display: flex;
            padding-top: 5%;
            justify-content: space-around;
            margin-bottom: 6%;
        }

        .recommandation address {
            font-style: normal;
        }

    /*Footer*/
    footer {
        display: none;
    }



/*PARTIE RESPONSIVE*/

    /*Tablette*/
    @media screen and (max-width: 768px) and (min-width: 425px) {
        /*Paramètres généraux*/
        body {
            border: none;
            margin: 0%;
            max-width: 100%;
        }

        html {
            margin: 0%;
            padding: 0%;
        }

        /*Navbar*/
        nav {
            display: block;
        }

        .headernav {
            display: flex;
            flex-direction: column-reverse;
        }

        .menu h2 {
            display: none;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #455A64;
          }
          nav li {
            float: left;
          }
            nav li a {
                display: block;
                color: #EEEEEE;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
                nav li a:hover {
                    background-color: #607D8B;
                }

        /*Header*/
        header {
        flex-direction: column;
        }

        .photo {
            min-width: 100%;
        }

        h1 {
            padding: 5% 0% 5% 0%;
            margin: 0%;
            text-align: center;
        }

        /*Contenu*/
        .contenu {
            flex-direction: column-reverse;
        }

        .puce {
            margin-top: 0px;
            padding-top: 3%;
        }

        .etablissement {
            width: 70%;
        }

        /*Aside*/
        aside {
            min-width: 100%;
        }

        #contact {
            margin-top: 0%;
            border-top: 1px solid;
        }

        .contact address {
            padding: 3% 0% 3% 10%;
        }

        .informations P {
            padding-top: 3%;
            padding-left: 10%;
            padding-bottom: 3%;
            padding-right: 10%;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .icones {
            padding-top: 3%;
            padding-left: 0px;
            padding-bottom: 3%;
            padding-right: 0px;
        }

        /*Footer*/
        footer {
            background-color: #607D8B;
        }

        footer h5 {
            color: #EEEEEE;
        }

        footer span {
            border-bottom: 1px solid #EEEEEE;
        }
    }

    /*MOBILE L*/
    @media screen and (max-width: 425px) and (min-width: 375px) {
        /*Titres*/
        main h2 {
            text-align: center;
            padding-left: 5%;
            margin-left: 5%;
            margin-right: 0px;
        }
        
        .contenu h2 i {
            display: none;
        }

        /*Formation et expérience professionnelle*/
        .puce, .annee {
            display: none;
        }

        .etablissement h3, .etablissement h4 {
            text-align: center;
            width: 100%;
            padding-left: 10%;
       }

        .taches ul {
            list-style: none;
            width: 100%;
            text-align: center;
        }

       /*Recommandations*/
       .recommandation {
           flex-direction: column;
       }

       .recommandation1 {
            padding-bottom: 5%;
            text-align: center;
       }

       .recommandation2 {
           text-align: center;
       }
    }

    /*MOBILE M*/
    /*Paramètres généraux*/
    @media screen and (max-width: 375px) and (min-width: 320px) {
        /*Paramètres généraux*/
        body {
            border: none;
            margin: 0%;
            max-width: 100%;
        }
    
        html {
            margin: 0%;
            padding: 0%;
        }
    
        /*Nav*/
        nav {
            display: block;
        }
    
        .headernav {
            display: flex;
            flex-direction: column-reverse;
        }
    
        .menu h2 {
            display: none;
        }
    
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #455A64;
          }
            nav li {
                float: left;
            }
                nav li a {
                    display: block;
                    color: #EEEEEE;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
                    nav li a:hover {
                        background-color: #607D8B;
                    }
    
        /*Header*/
        header {
        flex-direction: column;
        }
    
        .photo {
            min-width: 100%;
        }
    
        h1 {
            padding: 5% 0% 5% 0%;
            margin: 0%;
            text-align: center;
        }
    
        /*Contenu*/
        .contenu {
            flex-direction: column-reverse;
        }
    
        .puce {
            margin-top: 0px;
            padding-top: 3%;
        }
    
        .etablissement {
            width: 70%;
        }
    
        /*Aside*/
        aside {
            min-width: 100%;
        }
    
        #contact {
            margin-top: 0%;
            border-top: 1px solid;
        }
    
        .contact address {
            padding: 3% 0% 3% 10%;
        }
    
        .informations P {
            padding-top: 3%;
            padding-left: 10%;
            padding-bottom: 3%;
            padding-right: 10%;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    
        .icones {
            padding-top: 3%;
            padding-left: 0px;
            padding-bottom: 3%;
            padding-right: 0px;
        }
    
        /*Footer*/
        footer {
            background-color: #607D8B;
        }
    
        footer h5 {
            color: #EEEEEE;
        }
    
        footer span {
            border-bottom: 1px solid #EEEEEE;
        }
    }
    
    /*MOBILE S*/
    @media screen and (max-width: 320px) and (min-width: 100px) {
        /*Navbar*/
        nav {
            display: flex;
            justify-content: center;
        }

        .menu {
            background-color: #455A64;
        }
        
        /*Titres*/
        h1 {
            font-size: 25px;
        }
            .etudiante {
                font-size: 20px;
            }
        
        .contenu h2 {
            font-size: 15px;
            text-align: center;
            padding-left: 0%
        }
        
        /*Contenu*/
        .contenu h2 i {
            display: none;
        }

        /*Main*/
        main {
            text-align: center;
        }

        main ul {
            list-style: none;
            padding-left: 0px;
        }

        /*Formation et expérience professionnelle*/
        .puce, .annee p {
            display: none;
        }

        .mise_en_page {
            min-width: 400px;
        }

        /*Recommandations*/
        .recommandation {
            flex-direction: column;
        }

        .recommandation1 {
            padding-bottom: 7%;
        }
    }