/* PARTIE DESKTOP */

/*Paramètres généraux*/
body {
    font-family: arial, serif, sans-serif;
    margin: auto;
    min-width: 100%;

}

/*Header*/
header {
    display: flex;
}

/*Titres*/
h1 {
    font-weight: lighter;
    padding-top: 30%;
    padding-left: 40%;
    min-width: 100%;
    font-size: 40px;
}

    /*span*/
    .color {
        color: #607D8B;
    }

    .border {
        border-bottom: 2px solid #607D8B;
    }

    .etudiante {
        font-size: 20px;
    }

/*Photo*/
.photo {
    background-color: #607D8B;
    width: 35%;
    padding: 5% 0 5% 0;
}

.photomathilde {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2.5px solid #455A64;
    overflow: hidden;
    margin: auto;
}

.taille_photo {
    width: 205px;
}

/*Navbar*/
nav {
    display: none;
}

/*Contenu*/
.contenu {
    display: flex;
}

    /*Aside*/
    aside {
        background-color: #607D8B;
        max-width: 34.95%;
    }

    aside h2 {
        text-align: center;
        background-color: #EEEEEE;
        color: #607D8B;
        font-size: 20px;
        font-weight: lighter;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    aside address {
        font-style: normal;
        padding: 10% 15% 15% 15%;
        line-height: 1.2;
        color: #EEEEEE;
    }

    address a {
        text-decoration: none;
        color: #E0E0E0;
    }

    .informations > p {
        padding: 10% 15% 15% 15%;
        line-height: 1.5;
        text-align: justify;
        color: #EEEEEE;
    }
    
    .icones {
        display: flex;
        flex-direction: row;
        padding: 11%;
    }
    
    .icone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;
        margin: auto;
    }
    

    /*Main*/
    main {
        padding-left: 2%;
        width: 100%;
        border-left: 1px solid #607D8B;
    }
        /*Titres*/
        main h2 {
            font-size: 20px;
            font-weight: lighter;
            padding-left: 4%;
            padding-bottom: 2%;
            border-bottom: 2px solid #607D8B;
            width: 80%;
            margin: auto;
            padding-top: 5%;
        }

        main h3, main h4 {
            font-size: 15px;
            font-weight: lighter;
        }

        h2 > i {
            color: #455A64;
            padding-right: 3%;
        }

        /*Formation et expérience professionnelle*/
        .mise_en_page {
            display: flex;
            padding-left: 10%;
        }

        .puce {
            margin: 4% 2% 0 5%;
            margin-top: 2.9%;
        }

        .puce i {
            color: #607D8B;
        }
        
        .annee {
            margin: 1% 0 0 1%;
        }
        
        .etablissement {
            padding-top: 1.5%;
            padding-left: 5%;
            width: 300px;
        }
        
        .taches {
            font-size: 92%;
            line-height: 1.5;
        }

        .taches ul {
            list-style: none;
            padding-left: 0%;
        }

        .contenu ul {
            width: 450px;
        }

        /*Recommandations*/
        .recommandation {
            display: flex;
            padding-top: 5%;
            justify-content: space-around;
            margin-bottom: 6%;
        }

        .recommandation address {
            font-style: normal;
        }

    /*Footer*/
    footer {
        display: none;
    }


/*PARTIE RESPONSIVE*/

@media screen and (max-width: 834px) and (min-width: 636px) {
    /*Navbar*/
    nav {
        display: block;
    }

    .headernav {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu h2 {
        display: none;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #455A64;
      }
      nav li {
        float: left;
      }
        nav li a {
            display: block;
            color: #EEEEEE;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
            nav li a:hover {
                background-color: #607D8B;
            }

    /*Header*/
    header {
        flex-direction: column;
    }

    .photo {
        width: 100%;
    }

    h1 {
        padding-top: 0px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }

    /*Main*/
    .contenu {
        flex-direction: column-reverse;
    }

    .contenu ul {
        width: 100%;
    }

    main {
        padding-left: 0px;
        border-left-width: 0px;
    }

    .mise_en_page {
        padding-left: 0px;
        margin-left: 65px;
    }

    .annee p {
        width: 120px;
    }

    .etablissement {
        width: 100%;
        padding-left: 0px;
    }

    /*Aside*/
    aside {
        min-width: 100%;
    }

    #contact {
        margin-top: 0%;
        border-top: 1px solid;
    }

    #contact address {
        padding: 3% 0% 3% 10%;
    }

    .informations P {
        padding-top: 3%;
        padding-left: 10%;
        padding-bottom: 3%;
        padding-right: 10%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .icones {
        padding: 1% 0% 1% 0%;
    }

    /*Footer*/
    footer {
        display: block;
        background-color: #607D8B;
    }

    footer h5 {
        color: #EEEEEE;
        margin: 0%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 3%;
    }
}

@media screen and (max-width: 635px) and (min-width: 426px) {
    /*Navbar*/
    nav {
        display: block;
    }

    .headernav {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu h2 {
        display: none;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #455A64;
      }
      nav li {
        float: left;
      }
        nav li a {
            display: block;
            color: #EEEEEE;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
            nav li a:hover {
                background-color: #607D8B;
            }

    /*Header*/
    header {
        flex-direction: column;
    }

    .photo {
        width: 100%;
    }

    h1 {
        padding-top: 0px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }

    /*Main*/
    .contenu {
        flex-direction: column-reverse;
    }

    .contenu ul {
        width: 100%;
    }

    main {
        padding-left: 0px;
        border-left-width: 0px;
    }

    .mise_en_page {
        padding-left: 0px;
        margin-left: 0px;
    }

    .puce, .annee {
        display: none;
    }

    .etablissement {
        width: 100%;
        padding-left: 0px;
    }

    .formation, main {
        text-align: center;
    }

    main h2 {
        padding-left: 0px;
    }

    main h3 {
        margin-bottom: 2%;
    }

    main h4 {
        margin-top: 0%;
    }

    .recommandation {
        flex-direction: column;
    }

    .recommandation1 {
        margin-bottom: 5%;
    }

    /*Aside*/
    aside {
        min-width: 100%;
    }

    #contact {
        margin-top: 0%;
        border-top: 1px solid;
    }

    #contact address {
        padding: 3% 0% 3% 10%;
    }

    .informations P {
        padding-top: 3%;
        padding-left: 10%;
        padding-bottom: 3%;
        padding-right: 10%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .icones {
        padding: 1% 0% 1% 0%;
    }

    /*Footer*/
    footer {
        display: block;
        background-color: #607D8B;
    }

    footer h5 {
        color: #EEEEEE;
        margin: 0%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 3%;
    }
    
}

@media screen and (max-width: 425px) and (min-width: 321px) {
    /*Navbar*/
    nav {
        display: block;
    }

    .headernav {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu h2 {
        display: none;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #455A64;
      }
      nav li {
        float: left;
      }
        nav li a {
            display: block;
            color: #EEEEEE;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
            nav li a:hover {
                background-color: #607D8B;
            }

    /*Header*/
    header {
        flex-direction: column;
    }

    .photo {
        width: 100%;
    }

    h1 {
        padding-top: 0px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    /*Main*/
    .contenu {
        flex-direction: column-reverse;
    }

    .contenu ul {
        width: 100%;
    }

    main {
        padding-left: 0px;
        border-left-width: 0px;
    }

    .mise_en_page {
        padding-left: 0px;
        margin-left: 0px;
    }

    .puce, .annee {
        display: none;
    }

    .etablissement {
        width: 100%;
        padding-left: 0px;
    }

    .formation, main {
        text-align: center;
    }

    main h2 {
        padding-left: 0px;
    }

    main h3 {
        margin-bottom: 2%;
    }

    main h4 {
        margin-top: 0%;
    }

    .recommandation {
        flex-direction: column;
    }

    .recommandation1 {
        margin-bottom: 5%;
    }

    .taches li {
        padding: 0% 10% 0% 10%;
    }

    /*Aside*/
    aside {
        min-width: 100%;
    }

    #contact {
        margin-top: 0%;
        border-top: 1px solid;
    }

    #contact address {
        padding: 3% 10% 3% 10%;
    }

    .informations p {
        padding: 3% 10% 3% 10%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .icones {
        padding: 1% 0% 1% 0%;
    }

    /*Footer*/
    footer {
        display: block;
        background-color: #607D8B;
    }

    footer h5 {
        color: #EEEEEE;
        margin: 0%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 3%;
    }
}

@media only screen and (max-width: 320px) {
    /*Navbar*/
    nav {
        display: block;
    }

    .headernav {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu h2 {
        display: none;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #455A64;
        display: flex;
        justify-content: center;
    }
      nav li {
        float: left;
      }
        nav li a {
            display: block;
            color: #EEEEEE;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
            nav li a:hover {
                background-color: #607D8B;
            }

    /*Header*/
    header {
        flex-direction: column;
    }

    .photo {
        width: 100%;
    }

    h1 {
        padding-top: 0px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
        font-size: 25px;
    }

    .etudiante {
        font-size: 17px;
    }

    /*Main*/
    .contenu {
        flex-direction: column-reverse;
    }

    .contenu ul {
        width: 100%;
    }

    main {
        padding-left: 0px;
        border-left-width: 0px;
    }

    .contenu h2 i {
        display: none;
    }

    .contenu h2 {
        font-size: 17px;
    }

    .mise_en_page {
        padding-left: 0px;
        margin-left: 0px;
    }

    .puce, .annee {
        display: none;
    }

    .etablissement {
        width: 100%;
        padding-left: 0px;
    }

    .formation, main {
        text-align: center;
    }

    main h2 {
        padding-left: 0px;
    }

    main h3 {
        margin-bottom: 2%;
    }

    main h4 {
        margin-top: 0%;
    }

    .recommandation {
        flex-direction: column;
    }

    .recommandation1 {
        margin-bottom: 5%;
    }

    .taches li {
        padding: 0% 10% 0% 10%;
    }

    /*Aside*/
    aside {
        min-width: 100%;
    }

    #contact {
        margin-top: 0%;
        border-top: 1px solid;
    }

    #contact address {
        padding: 3% 10% 3% 10%;
    }

    .informations p {
        padding: 3% 10% 3% 10%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .icones {
        padding: 1% 0% 1% 0%;
    }

    /*Footer*/
    footer {
        display: block;
        background-color: #607D8B;
    }

    footer h5 {
        color: #EEEEEE;
        margin: 0%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 6%;
    }
}